body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:377px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:673px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:673px;
}
#u80 {
  position:absolute;
  left:2px;
  top:328px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u81 {
  position:absolute;
  left:303px;
  top:17px;
  width:61px;
  height:31px;
}
#u82 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  word-wrap:break-word;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:43px;
  background:inherit;
  background-color:rgba(195, 142, 100, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u83 {
  position:absolute;
  left:70px;
  top:171px;
  width:40px;
  height:43px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(215, 116, 231, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u85 {
  position:absolute;
  left:142px;
  top:198px;
  width:73px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u87_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:56px;
  background:inherit;
  background-color:rgba(175, 115, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u87 {
  position:absolute;
  left:187px;
  top:253px;
  width:96px;
  height:56px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:133px;
  top:469px;
  width:109px;
  height:116px;
  overflow:hidden;
}
#u89_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:116px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u89_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
