body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
}
#u74 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(78, 120, 170, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u75 {
  position:absolute;
  left:162px;
  top:31px;
  width:57px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
