body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:622px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:669px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:669px;
}
#u18 {
  position:absolute;
  left:2px;
  top:326px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19 {
  position:absolute;
  left:425px;
  top:230px;
  width:197px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:123px;
  top:598px;
  width:133px;
  height:71px;
  overflow:hidden;
}
#u21_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:71px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u21_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:66px;
  background:inherit;
  background-color:rgba(0, 153, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u22 {
  position:absolute;
  left:65px;
  top:260px;
  width:233px;
  height:66px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  word-wrap:break-word;
}
