body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:502px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:667px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:667px;
}
#u28 {
  position:absolute;
  left:2px;
  top:326px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  position:absolute;
  left:431px;
  top:292px;
  width:71px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:121px;
  top:600px;
  width:134px;
  height:67px;
  overflow:hidden;
}
#u31_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:67px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u31_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 153, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u32 {
  position:absolute;
  left:94px;
  top:209px;
  width:233px;
  height:49px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  word-wrap:break-word;
}
